    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | SPK Lapas II A</title>
<!-- Bulma CSS -->
<link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">

<!-- Bulma-Tooltip CSS -->
<link rel="stylesheet" href="/node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css">

<!-- <link rel="stylesheet" href="/bulma/bulma.min.css">
<link rel="stylesheet" href="/bulma-tooltip/bulma.min.css"> -->
<link rel="icon" href="/img/spk_logo.png" />