<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <img src="https://flowbite.com/docs/images/logo.svg" alt="Flowbite Logo" class="h-8">
                <span class="text-2xl font-semibold">Flowbite</span>
            </a>
            <button class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Data</a>
                    <div class="navbar-dropdown">
                        <a href="/data/data_narapidana" class="navbar-item">Data Narapidana</a>
                        <a href="/data/data_kriteria" class="navbar-item">Data Kriteria</a>
                        <a href="/data/data_admin" class="navbar-item">Data Admin</a>
                        <!-- <a href="/admin" class="navbar-item">Data Kewarganegaraan</a> -->
                        <a href="/data/data_agama" class="navbar-item">Data Agama</a>
                        <a href="/data/data_pekerjaan" class="navbar-item">Data Pekerjaan</a>
                        <a href="/admin" class="navbar-item">Data Tindak Pidana</a>
                        <hr class="navbar-divider">
                        <a href="#" class="navbar-item">Sign out</a>
                    </div>
                </div>
                <a href="#" class="navbar-item">Perhitungan TOPSIS</a>
            </div>
        </div>
    </div>
</nav>