

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/adm/dashboard" class="navbar-item">
                <img src="/img/logo_bw.png" alt="Flowbite Logo" class="h-8">
                <span class="text-2xl mx-1 font-semibold has-text-weight-bold">SPK Lapas IIA</span>
            </a>
            <button class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <a href="/adm/dashboard" class="navbar-item">Dashboard</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Data</a>
                    <div class="navbar-dropdown">
                        <a href="/data/narapidana" class="navbar-item">Data Narapidana</a>

                        <a href="/data/kriteria" class="navbar-item">Data Kriteria</a>

                        

                        <!-- <a href="/data/data_user" class="navbar-item">Data user</a> -->
                        <!-- <a href="/user" class="navbar-item">Data Kewarganegaraan</a> -->
                        <a href="/data/pidana" class="navbar-item">Data Tindak Pidana</a>

                        <% if(user) { %>
                            <% if(user.role === 'wali pemasyarakatan') { %>
                                <a href="/data/data_pekerjaan" class="navbar-item">Data Pekerjaan</a>
                            <% } %>
                        <% } %>

                        
                        <hr class="navbar-divider">
                        <!-- <a href="#" class="navbar-item">Sign out</a> -->
                    </div>
                </div>
                <a href="#" class="navbar-item">Perhitungan TOPSIS</a>
                
                <!-- Dropdown Profile -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <!-- <img src="https://via.placeholder.com/50" class="mr-2 rounded-full h-8"> -->
                        <i class="fa-solid fa-user-tie has-text-black" style="background-color: #00967f;
                        padding: 0.5rem 1rem; border-radius: 0.5rem;" class="mr-2 rounded-full h-8"></i>
                        
                    </a>
                    <div class="navbar-dropdown">
                        <!-- Isi dropdown untuk profil -->
                        <a href="/adm/profil_saya" class="navbar-item">Profil Saya</a>
                        <!-- <a href="#" class="navbar-item">Pengaturan</a> -->
                        <hr class="navbar-divider">
                        <a href="/adm/logout" class="navbar-item">Log Out</a>
                    </div>
                </div>
                <!-- Akhir Dropdown Profile -->
            </div>
        </div>
    </div>
</nav>