<div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around is-flex-touch is-flex-mobile">
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h3 class="title is-4">Jumlah Narapidana</h3>
                    </div>
                </div>
                
                <div class="content">
                    <p class="is-size-5">4</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h3 class="title is-4">Jumlah Kriteria</h3>
                    </div>
                </div>
                
                <div class="content">
                    <p class="is-size-5">4</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h3 class="title is-4">Jumlah Kriteria</h3>
                    </div>
                </div>
                
                <div class="content">
                    <p class="is-size-5">4</p>
                </div>
            </div>
        </div>
    </div>
</div>
