<div id="modalTambah" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="title is-4">Tambah Kriteria</h2> <!-- Judul "Tambah Agama" -->
            <hr>
            <!-- Form untuk menginput data -->
            <form id="formTambahData" action="/data/kriteria" method="POST">
                <!-- Input fields -->
                <div class="field">
                    <label class="label">Nama Kriteria:</label>
                    <div class="control">
                        <input class="input" type="text" name="nama_kriteria" placeholder="Masukkan nama kriteria" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Jenis Kriteria:</label>

                    <div class="control">
                        <label class="radio">
                            <input type="radio" value="benefit" name="jenis_kriteria" />
                            Benefit
                        </label>
                        <label class="radio">
                            <input type="radio" value="cost" name="jenis_kriteria" />
                            Cost
                        </label>
                    </div>
                </div>
                <hr>

                <div class="field">
                    <label class="label">Berikan bobot Kriteria:</label>
                    <div class="control">
                        <input class="input" type="number" name="bobot_kriteria" placeholder="" required />                    
                    </div>
                </div>
                <!-- Tambahkan input fields lainnya sesuai kebutuhan -->
                <!-- Tombol untuk menutup modal -->
                <button type="button" id="btnCloseModal" class="mr-3 button is-light mt-3">Tutup</button>
                <button type="submit" class="button is-success mt-3">Simpan</button>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>